#dot-loader-div {
    display: none;
}
.dot-loader {
    width: 8px;
    height: 8px;
    position: absolute;
    background-color: #ccc;
    top: 45%;
    border-radius: 50%;
}

.dot-loader-1 {
    background-color: #ffffff;
    -webkit-animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
    -moz-animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
    -ms-animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
    -o-animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
    animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
}
.dot-loader-2 {
    background-color: #ffffff;
    -webkit-animation: move 4s 150ms infinite cubic-bezier(.2,.64,.81,.23);
    -moz-animation: move 4s 150ms infinite cubic-bezier(.2,.64,.81,.23);
    -ms-animation: move 4s 150ms infinite cubic-bezier(.2,.64,.81,.23);
    -o-animation: move 4s 150ms infinite cubic-bezier(.2,.64,.81,.23);
    animation: move 4s 150ms infinite cubic-bezier(.2,.64,.81,.23);
}
.dot-loader-3 {
    background-color: #ffffff;
    -webkit-animation: move 4s 300ms infinite cubic-bezier(.2,.64,.81,.23);
    -moz-animation: move 4s 300ms infinite cubic-bezier(.2,.64,.81,.23);
    -ms-animation: move 4s 300ms infinite cubic-bezier(.2,.64,.81,.23);
    -o-animation: move 4s 300ms infinite cubic-bezier(.2,.64,.81,.23);
    animation: move 4s 300ms infinite cubic-bezier(.2,.64,.81,.23);
}
.dot-loader-4 {
    background-color: #ffffff;
    -webkit-animation: move 4s 450ms infinite cubic-bezier(.2,.64,.81,.23);
    -moz-animation: move 4s 450ms infinite cubic-bezier(.2,.64,.81,.23);
    -ms-animation: move 4s 450ms infinite cubic-bezier(.2,.64,.81,.23);
    -o-animation: move 4s 450ms infinite cubic-bezier(.2,.64,.81,.23);
    animation: move 4s 450ms infinite cubic-bezier(.2,.64,.81,.23);
}

.dot-loader-5 {
    background-color: #ffffff;
    -webkit-animation: move 4s 600ms infinite cubic-bezier(.2,.64,.81,.23);
    -moz-animation: move 4s 600ms infinite cubic-bezier(.2,.64,.81,.23);
    -ms-animation: move 4s 600ms infinite cubic-bezier(.2,.64,.81,.23);
    -o-animation: move 4s 600ms infinite cubic-bezier(.2,.64,.81,.23);
    animation: move 4s 600ms infinite cubic-bezier(.2,.64,.81,.23);
}

.dot-loader-6 {
    background-color: #ffffff;
    -webkit-animation: move 4s 750ms infinite cubic-bezier(.2,.64,.81,.23);
    -moz-animation: move 4s 750ms infinite cubic-bezier(.2,.64,.81,.23);
    -ms-animation: move 4s 750ms infinite cubic-bezier(.2,.64,.81,.23);
    -o-animation: move 4s 750ms infinite cubic-bezier(.2,.64,.81,.23);
    animation: move 4s 750ms infinite cubic-bezier(.2,.64,.81,.23);
}

.dot-loader-7 {
    background-color: #ffffff;
    -webkit-animation: move 4s 900ms infinite cubic-bezier(.2,.64,.81,.23);
    -moz-animation: move 4s 900ms infinite cubic-bezier(.2,.64,.81,.23);
    -ms-animation: move 4s 900ms infinite cubic-bezier(.2,.64,.81,.23);
    -o-animation: move 4s 900ms infinite cubic-bezier(.2,.64,.81,.23);
    animation: move 4s 900ms infinite cubic-bezier(.2,.64,.81,.23);
}

@-webkit-keyframes move{
    0% {left: 0%;}
    100% {left:100%;}
}

@-moz-keyframes move{
    0% {left: 0%;}
    100% {left:100%;}
}

@-ms-keyframes move{
    0% {left: 0%;}
    100% {left:100%;}
}

@-o-keyframes move{
    0% {left: 0%;}
    100% {left:100%;}
}

@keyframes move {
    0% {left: 0%;}
    100% {left:100%;}
}

.sidebar-menu{
    font-size: 15px;
}

.treeview-menu > li:hover{
    background: #3c8dbc;
}

.treeview-menu > li.active{
    background: #367fa9;
}

.treeview-menu > li.active a{
    color: #ffffff !important;
}

.treeview-menu > li:hover a{
    color: #ffffff !important;
}